@charset "utf-8";

body {
  font-family:'メイリオ', 'Meiryo','MS ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  color: #121212;
  line-height: 1.5;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

video {
  width: 100%;
}

h2 {
  margin: 0 auto 30px auto;
  text-align: center;
  font-size: 36px;
}

/* --------------------
header
-------------------- */
header .visible {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background: #FFF;
  padding: 0 40px;
  z-index: 998;
}

header .visible.active {
  background: rgba(0, 0, 0, 0.5);
}

#logo img {
  width: 175px;
  vertical-align: middle;
}

/* --------------------
hamburger
-------------------- */
#hamburger {
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

#hamburger .inner {
  transition: all 0.6s;
  width: 30px;
  height: 20px;
}

#hamburger span {
  position: absolute;
  left: 0;
  display: inline-block;
  border-radius: 2px;
  background: #333;
  width: 100%;
  height: 2px;
  transition: all 0.4s;
}

#hamburger span:nth-of-type(1) {
  top: 0px;
}

#hamburger span:nth-of-type(2) {
  top: 10px;
}

#hamburger span:nth-of-type(3) {
  top: 20px;
}

#hamburger.active .inner {
  transform: rotate(360deg);
}

#hamburger.active span {
  background: #FFF;
}

#hamburger.active span:nth-of-type(1) {
  transform: translate(0, 10px)rotate(-45deg);
  width: 30px;
}

#hamburger.active span:nth-of-type(2) {
  opacity: 0;
}

#hamburger.active span:nth-of-type(3) {
  transform: translate(0, -10px)rotate(45deg);
  width: 30px;
}

.hidden {
  position: fixed;
  display: flex;
  top: 0;
  transform: translate(-100%, 0);
  opacity: 0;
  transition: all 0.5s;
  z-index: 999;
}

.hidden .navi {
  position: relative;
  width: 300px;
  height: 100vh;
  background-color: #121212;
  padding: 60px 25px;
}

.hidden .menu {
  width: 250px;
  margin-bottom: 60px;
}

.hidden .menu li {
  padding: 20px 0;
  border-top: 1px solid #FFF;
}

.hidden .menu li:nth-of-type(3) {
  border-bottom: 1px solid #FFF;
}

.hidden a {
  font-size: 14px;
  color: #FFF;
}

.hidden .sns li {
  padding:5px 0
}

.hidden.active {
  transform: translate(0, 0);
  opacity: 1;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.cover.active {
  z-index: 997;
  opacity: 1;
}

/* --------------------
mainvisual
-------------------- */
#mainvisual {
  margin:80px 0 100px 0;
}

/* --------------------
pickup
-------------------- */
#pickup {
  margin-bottom: 100px;
}

.carusel li {
  margin: 0 30px;
}

/* --------------------
feauture
-------------------- */
#feauture {
  width: 100%;
  max-width: 1240px;
  padding: 0 16px;
  margin: 0 auto 60px auto;
}

.feature-list {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
}

.feature-list li {
  box-shadow: 0px 0px 8px #00000029;
}

.feature-list .picture {
  text-align: center;
}

.feature-list .picture img{
  vertical-align: top;
  transform : translate(0, 20px);
  transition : all 1s;
  opacity: 0;
}

.feature-list .picture img.fadein{
  transform : translate(0, 0);
  opacity: 1;
}

.feature-list .text{
  border: 1px solid #CCC;
  padding: 7% 8%;
}

.feature-list .text h3{
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: normal;
}

.feature-list p:nth-of-type(1){
  margin-bottom: 27px;
  font-size: 14px;
  font-weight: bold;
}

.feature-list p:nth-of-type(2) {
  font-size: 12px;
  text-align: right;
}

/* --------------------
contact
-------------------- */
#contact {
  background: #121212;
  padding: 50px 0 100px 0;
  color: #FFF;
}

#contact .inner {
  width: 100%;
  max-width: 1240px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}

.contact-left {
  width: 45%;
}

.contact-left p {
  margin-bottom: 30px;
  font-size: 14px;
}

.contact-left p:nth-of-type(3) {
  margin-bottom: 0;
}

.contact-right {
  width: 45%;
}

.contact-right .unit {
  display: flex;
  flex-direction: column;
}

.contact-right input {
  margin: 1px 0 19px 0;
  background: #FFF;
  border: 1px solid #707070;
  height: 44px;
}

.contact-right textarea {
  margin-top: 1px;
  background: #FFF;
  border: 1px solid #707070;
  height: 68px;
}

.contact-right .button button{
  margin-top: 24px;
  width: 200px;
  height: 45px;
  border: 1px solid #FFF;
  text-align: center;
  font-size: 14px;
  color: #FFF;
}

/* --------------------
footer
-------------------- */
footer p {
  background: #121212;
  padding-bottom: 10px;
  text-align: center;
  color: #FFF;
  font-size: 12px;
}


/* --------------------
SP用設定
-------------------- */
@media screen and (max-width: 600px) {
  h2 {
    margin: 0 auto 20px auto;
    text-align: center;
    font-size: 24px;
  }

/* --------------------
header
-------------------- */
  header .visible {
    padding: 0 16px;
  }

/* --------------------
mainvisual
-------------------- */
  #mainvisual {
    margin-bottom: 80px;
  }

/* --------------------
pickup
-------------------- */
  .carusel li {
    margin: 0 10px;
  }

/* --------------------
feauture
-------------------- */
  #feauture {
    margin-bottom: 90px;
  }

  .feature-list .text{
    padding: 4%;
  }

/* --------------------
contact
-------------------- */
  #contact {
    padding: 80px 0 90px 0;
  }

  #contact .inner {
    display: block;
  }

  .contact-left {
    width: 100%;
  }

  .contact-left p:nth-of-type(3) {
    margin-bottom: 30px;
  }

  .contact-right {
    width: 100%;
  }

  .contact-right input {
    margin: 0 0 20px 0;
  }

  .contact-right textarea {
    margin-top: 0;
  }

  .contact-right .button button{
    margin-top: 20px;
    width: 100%;
  }

}